/**
 * @author Prajyot Walali
 * @date 6th September, 2018
 * GITHUB :: github.com/prajyot-w
 */

*{margin: 0; padding: 0}

.container {
    padding: 16px;
    text-align: center;
}

#game-board { /* Canvas */
    width: 200px;
    height: 400px;
}

.scoreBoard {
    margin: 20px;
}

.scoreBoard > div {
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
}